<!doctype html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>جانبی لند - محصولات</title>
  </head>
  <body>
    <h1>محصولات</h1>
    {% if products %}
    <ul>
      {% for product in products %}
      <li>
        <a href="{% url 'product-detail' slug=product.slug %}"
          >{{ product.title }}</a
        >
        — {{ product.price }} تومان
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>محصولی یافت نشد.</p>
    {% endif %}
  </body>
</html>
